.messageBird__whereWeAre-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.messageBird__whereWeAre-heading h1{
    color: #0a8cfc;
    font-family: serif;
    margin-bottom: 1rem;
}
.messageBird__whereWeAre-heading p{
    width: 70%;
    text-transform: capitalize;
    font-size: .9rem;
    line-height: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.messageBird__whereWeAre_weAre-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 1026px) {
    .messageBird__whereWeAre-heading p{
        width: 80%;
    }
}
@media screen and (max-width: 700px) {
    .messageBird__whereWeAre-heading p{
        width: 100%;
    }
}
@media screen and (max-width: 500px) {
    .messageBird__whereWeAre_weAre-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
